/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
@font-face {
    font-family: 'alfa_slab_oneregular';
    src: url('../fonts/alfaslabone-regular-webfont.eot');
    src: url('../fonts/alfaslabone-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/alfaslabone-regular-webfont.woff') format('woff'),
         url('../fonts/alfaslabone-regular-webfont.ttf') format('truetype'),
         url('../fonts/alfaslabone-regular-webfont.svg#alfa_slab_oneregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'port_lligat_slabregular';
    src: url('../fonts/portlligatslab-regular-webfont.eot');
    src: url('../fonts/portlligatslab-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/portlligatslab-regular-webfont.woff') format('woff'),
         url('../fonts/portlligatslab-regular-webfont.ttf') format('truetype'),
         url('../fonts/portlligatslab-regular-webfont.svg#port_lligat_slabregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.contact a, span.gc-cs-link {
	color: white;
	text-decoration: none;
}

.site-header {
	border-bottom: solid 5px #45484d;
	padding: 0 50px;
}

.site-header h1 {
	font-family: 'alfa_slab_oneregular';
	margin-bottom: 0;
}

.gradient-background {
	background: #45484d; /* Old browsers */
	background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #45484d 0%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.knockout-text {
	color: #ffffff;
}

.hero {
	background: url(../images/hero-image.jpg) -120px -120px;
	padding: 50px 15px 70px;
	border-bottom: 1px solid black;
	margin-bottom: 80px;
}

.call-to-action {
	width: 30%;
	margin-left: 15%;
	text-align: center;
	position: relative;
}

.call-to-action p {
	font-family: 'port_lligat_slabregular', serif;
	font-size: 28px;
	font-weight: bold;
	text-shadow: 0 1px black;
	color: white;
	line-height: 1.5em;
	margin-bottom: 0.25em;
	background-color: rgba(0, 0, 0, 0.5);
}

.call-to-action button {
	text-align: center;
	margin-bottom: 0;
	margin-top: 1em;
}

.call-to-action:after {
	display: block;
	content: '';
	position: absolute;
	top: -5px;
	right: -125%;
	width: 400px;
	height: 330px;
	background: url(../images/imac.png) 0 0 no-repeat	;
	background-size: 100%;
}

.main-header {
	width: 100%;
	font-family: 'port_lligat_slabregular', serif;
	text-align: center;
	position: relative;
}

.main-header h1 {
	font-family: 'port_lligat_slabregular', serif;
}

.main-header:before {
	display: block;
	content: '';
	position: absolute;
	width: 300px;
	height: 1px;
	top: 50%;
	background-color: rgba(205, 201, 201, 0.5);
}

.main-header:after {
	display: block;
	content: '';
	position: absolute;
	width: 300px;
	height: 1px;
	top: 50%;
	right: 0;
	background-color: rgba(205, 201, 201, 0.5);
}

.heavy-top-border {
	border-top: 4px;
	border-bottom: 1px;
	border-color: rgba(205, 201, 201, 0.5);
	border-style: solid;
}

.box-gray {
	background-color: rgba(235, 235, 245, 0.25);
	padding: 10px 20px;
	margin-bottom: 20px;
}

.display-circle {
	display: block;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	box-shadow: 0 0 0 5px rgba(205, 201, 201, 0.5);
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #70d9ff), color-stop(1, #3481cf) );
  background:-moz-linear-gradient( center top, #70d9ff 5%, #3481cf 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d9ff', endColorstr='#3481cf');
  margin: 10px auto 15px;
}

.display-icon {
	font-size: 60px;
	text-shadow: 0 0 5px gray;
	color: white;
	text-align: center;
	width: 100px;
	height: 100px;
	line-height: 100px;
}

.white-type {
	color: #E0E0E0;
	text-shadow: 0 1px 0 gray;
	font-family: arial
}

.white-line {
	border-bottom: 1px solid #BDBDBD;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.25);
}

.site-footer {
	border-top: 2px solid black;
}

/* #Page Styles
================================================== */
.recent-projects {
	margin-bottom: 40px;
}

.project-one, .project-two, .project-three {
	background-size: 100%;
	height: 200px;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
}

.project-one {
	background: url(http://heykerrip.com/wp-content/uploads/2013/10/computer-screen-720x540.jpg);
	background-size: 130%
}

.project-two {
	background: url(http://2.bp.blogspot.com/-Kdxy5kxpDlM/Uh0hzn5V5sI/AAAAAAAASyE/GO-7cutCinA/s1600/Candy-Cane-Print.jpg);
	background-size: 100%
}

.project-three {
	background: url(http://shydesigns.com/wp-content/uploads/2013/10/Melodic-Design-%E2%80%93-Logo.jpg);
	background-size: 100%
}

.project-one:hover .hover-text {
	bottom: -20px;
}

.project-two:hover .hover-text {
	bottom: -20px;
}

.project-three:hover .hover-text {
	bottom: -20px;
}


.hover-text {
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	font-weight: bold;
	height: 100px;
	color: white;
	padding: 10px;
	position: absolute;
	bottom: -220px;
	-webkit-transition: all 0.5s ease;
}

.contact {
	position: relative;
}

.contact li label {
	display: inline-block;
	width: 100px;
}

.badges-container {
	position: absolute;
}

.badges {
	-webkit-transition: all 0.5s ease;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #333333;
	font-size: 25px;
	line-height: 50px;
	text-align: center;
	display: inline-block;
	margin-right: 10px;
}

.badges:hover {
	font-size: 3em;
	width: 75px;
	height: 75px;
	line-height: 75px
}

.copyright {
	margin-top: 40px;
	margin-bottom: 20px;
}



/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/
